<?xml version="1.0"?>
<config>
    <modules>
        <CoreValue_Acim>
            <version>0.1.1</version>
        </CoreValue_Acim>
    </modules>

    <global>
        <models>
            <corevalue_acim>
                <class>CoreValue_Acim_Model</class>
                <resourceModel>corevalue_acim_resource</resourceModel>
            </corevalue_acim>

            <corevalue_acim_resource>
                <class>CoreValue_Acim_Model_Resource</class>
                <entities>
                    <profile_customer>
                        <table>corevalue_acim_profile_customer</table>
                    </profile_customer>
                    <profile_payment>
                        <table>corevalue_acim_profile_payment</table>
                    </profile_payment>
                </entities>
            </corevalue_acim_resource>
        </models>

        <resources>
            <corevalue_acim_setup>
                <setup>
                    <module>CoreValue_Acim</module>
                </setup>
            </corevalue_acim_setup>
        </resources>

        <blocks>
            <corevalue_acim>
                <class>CoreValue_Acim_Block</class>
            </corevalue_acim>
        </blocks>

        <helpers>
            <corevalue_acim>
                <class>CoreValue_Acim_Helper</class>
            </corevalue_acim>
        </helpers>

        <events>
            <customer_save_before>
                <observers>
                    <corevalue_acim_email_change>
                        <type>singleton</type>
                        <class>corevalue_acim/observer</class>
                        <method>customerSaveBefore</method>
                    </corevalue_acim_email_change>
                </observers>
            </customer_save_before>
        </events>
    </global>

    <frontend>
        <layout>
            <updates>
                <corevalue_acim>
                    <file>corevalue_acim.xml</file>
                </corevalue_acim>
            </updates>
        </layout>

        <routers>
            <acimprofiles>
                <use>standard</use>
                <args>
                    <module>CoreValue_Acim</module>
                    <frontName>acim-profiles</frontName>
                </args>
            </acimprofiles>
        </routers>
    </frontend>

    <default>
        <payment>
            <corevalue_acim>
                <active>0</active>
                <model>corevalue_acim/paymentMethod</model>
                <order_status>processing</order_status>
                <title>Authorize.net CIM</title>
                <live_mode>0</live_mode>
                <api_key backend_model="adminhtml/system_config_backend_encrypted"/>
                <transaction_key backend_model="adminhtml/system_config_backend_encrypted"/>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
            </corevalue_acim>
        </payment>
    </default>
</config>
